@import "../../../scss/variables";

.filter {
  width: 100%;

  margin-bottom: 3.75rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5rem;

  button {
    padding: 0.5rem 1rem;
    border: 3px solid white;
    border-radius: 0.75rem;
    transition: border-color 0.2s ease-in-out;
  }
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.sortByName {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;

  button {
    display: flex;
    align-items: center;

    &:hover {
      border-color: $pink;
    }
  }
}

.sortByCheck {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;

  img {
    cursor: pointer;
    width: 1.5rem;
  }
}

.sortByDate {
  display: flex;
  align-items: center;

  button:hover {
    border-color: $green;
  }

  hr {
    display: block;
    height: 3px;
    background-color: white;
    width: 3rem;
  }
}

.resetBtn:hover {
  border-color: $red;
}

@media screen and (max-width: 480px) {
  .filter {
    font-size: 1rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .filterList {
    justify-content: flex-start;
    row-gap: 1rem;
  }
}
