.tiles {
  width: 67.5%;
  height: 30rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5%;
}

@media screen and (max-width: 768px) {
  .tiles {
    grid-template-columns: repeat(3, 1fr);
    height: 40rem;
  }
}

@media screen and (max-width: 480px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    width: 80vw;
    gap: 2vw;
    margin-bottom: 6rem;
  }
}