.container {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.eventList {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (max-width: 480px) {
  .container {
    display: none;
  }
}