.wrapper {
  width: 100%;
  padding: 0 4.75rem;

  display: flex;
  justify-content: center;
}

.list {
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0;
  }

  .list {
    flex-wrap: wrap;
    gap: 2rem;
  }
}