.tile {
  border-radius: 1rem;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.10);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 1rem;

  cursor: pointer;

  p {
    font-size: 1.5rem;
    line-height: 130%;
  }
}

@media screen and (max-width: 768px) {
  .tile {
    p {
      font-size: 2rem;
    }
  }
}