@import "../../../scss/variables";

.tile {
  border-radius: 1rem;
  border: 2px solid white;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 1rem;

  p {
    font-size: 1.5rem;
    line-height: 130%;
  }
}

.default {
  background: rgba(255, 255, 255, 0.1);
}

.active {
  background: rgba($pink, 0.25);
  border: 3px solid $pink;
}

@media screen and (max-width: 768px) {
  .tile {
    p {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .tile {
    width: 39vw;
    justify-content: center;
    p {
      font-size: 1.75rem;
    }
  }
}
