.posters {
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    border-radius: 1.25rem;

    width: 20vw;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    &:first-child {
      left: 10vw;
    }

    &:nth-child(2) {
      z-index: 1;
      width: 30vw;
      box-shadow: 0px 4px 40px 30px rgba(0, 0, 0, 0.5);
    }

    &:last-child {
      right: 10vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .posters {
    img {
      width: 30vw;

      &:first-child {
        left: 15vw;
      }

      &:nth-child(2) {
        width: 50vw;
      }

      &:last-child {
        right: 15vw;
      }
    }
  }
}
