.wrapper {
  width: 100vw;
  padding: 0 4.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 7.5rem;
}

.elements {
  width: 40%;

  position: relative;
}

.text {
  min-width: 60vw;
  position: absolute;
  z-index: 5;
  top: 3vh;
  left: 0;
}

.icons {
  position: absolute;
  max-width: 80%;
  bottom: 0;
  left: 0;
}

.photo {
  width: 60%;
  position: relative;
  z-index: 3;
  border-radius: 1.25rem;
}

@media screen and (max-width: 480px) {
  .elements {
    width: 0;
    height: 0;
    position: static;
  }
  .icons {
    display: none;
  }
  .container {
    width: 100vw;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
  }
  .photo {
    width: 80vw;
  }
  .text {
    display: block !important;
    position: absolute;
    max-width: 84vw;
    left: 8vw;
  }
}