@import '../../scss/variables';

.link {
  color: inherit;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: black;
  border-bottom: 2px solid #414141;

  width: 100%;
  height: 5rem;

  nav {
    height: 5rem;
    padding: 0 4.75rem;

    ul {
      height: 5rem;
      
      display: flex;
      justify-content: space-between;

      li {
        height: 5rem;

        border-bottom: 2px solid #414141;

        font-size: 1.25rem;

        display: flex;
        align-items: center;

        transition: .3s ease-in-out;

        &:hover {
          color: $pink;
          border-bottom-color: $pink;
        }
      }
    }
  }
}

// ------------------ TABLET ----------------------
@media screen and (max-width: 768px) {
  .header {
    border: none;
    background-color: transparent;

    height: 10rem;

    nav {
      height: 10rem;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      overflow: hidden;

      ul {
        position: fixed;
        top: 0;
        right: 0;

        background-color: black;

        width: 30vw;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;

        border-left: 2px solid #414141;

        li {
          border: none;

          font-size: 2.5rem;
        }
      }
    }
  }
}

// ------------ MOBILE -------------------
@media screen and (max-width: 480px) {
  .header {
    height: 5rem;

    nav {
      height: 5rem;
      padding: 1.5rem;

      ul {
        width: 100vw;

        border-left: none;

        row-gap: 1rem;
      }
    }
  }
}