@import "../../../scss/variables";

.recentProjects {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 3.25rem;
    padding: 1.25rem 2.5rem;

    border: 3px solid white;
    border-radius: 1.25rem;

    font-size: 1.5rem;

    transition: border 0.3s ease-in-out;

    &:hover {
      border: 3px solid $pink;
    }
  }
}

.posters {
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  a {
    &:first-child {
      img {
        left: 5vw;
      }
    }
    &:nth-child(2) {
      img {
        z-index: 1;
        width: 30vw;
        box-shadow: 0px 4px 40px 30px rgba(0, 0, 0, 0.5);
      }
    }
    &:last-child {
      img {
        right: 5vw;
      }
    }
  }

  img {
    position: relative;
    border-radius: 1.25rem;

    width: 20vw;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 480px) {
  .posters {
    width: 80vw;

    a {
      &:nth-child(2) {
        img {
          width: 70vw;
        }
      }
    }

    img {
      width: 40vw;
    }
  }
}
