@import "../../../scss/variables";

.recentProjects {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 3.25rem;
    padding: 1.25rem 2.5rem;

    border: 3px solid white;
    border-radius: 1.25rem;

    font-size: 1.5rem;

    transition: border 0.3s ease-in-out;

    &:hover {
      border: 3px solid $pink;
    }
  }
}
