.video {
  width: 100vw;
  animation: video-opacity 15s 1;
}

@keyframes video-opacity {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  display: none;
}

@media screen and (max-width: 480px) {
  .video {
    display: none;
  }
  .section {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: block;
    width: 50vw;
  }
}