@font-face {
  font-family: "adineue";
  /* IE9+ Compat Modes */
  src: url("../assets/fonts/AdineuePro-Bold.eot") format("embedded-opentype"),
    /* Super Modern Browsers */ url("../assets/fonts/AdineuePro-Bold.woff2")
      format("woff2"),
    /* Pretty Modern Browsers */ url("../assets/fonts/AdineuePro-Bold.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("../assets/fonts/AdineuePro-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Onest";
  /* IE9+ Compat Modes */
  src: url("../assets/fonts/Onest-Light.eot") format("embedded-opentype"),
    /* Super Modern Browsers */ url("../assets/fonts/Onest-Light.woff2")
      format("woff2"),
    /* Pretty Modern Browsers */ url("../assets/fonts/Onest-Light.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("../assets/fonts/Onest-Light.ttf")
      format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Onest";
  /* IE9+ Compat Modes */
  src: url("../assets/fonts/Onest-Medium.eot") format("embedded-opentype"),
    /* Super Modern Browsers */ url("../assets/fonts/Onest-Medium.woff2")
      format("woff2"),
    /* Pretty Modern Browsers */ url("../assets/fonts/Onest-Medium.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("../assets/fonts/Onest-Medium.ttf")
      format("truetype");
  font-weight: 500;
}
