@font-face {
  font-family: 'adineue';
  src: url('../assets/fonts/adineueprocyr_boldweb.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Milligram';
  src: url('../assets/fonts/Milligram-Light-trial.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Milligram';
  src: url('../assets/fonts/Milligram-Medium-trial.woff2');
  font-weight: 500;
}