@import "./reset";
@import "./fonts";

html,
body {
  background-color: black;
  color: white;

  font-family: 'adineue', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;

  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}